:root{
    --purple200: hsl(257, 40%, 49%);
    --Magenta: hsl(300, 69%, 71%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/src/imagens/bg-desktop.svg");
    background-color: var(--purple200);
    font-family: "Poppins", sans-serif;
}
.cabecalho{
    margin-top: 2rem;
    margin-left: 4rem;
}
.cabecalho img{
    width: 200px;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}
.imagem{
    margin-left: 4rem;  
}
.imagem img{
    width: 600px;
}
.text{
    width: 400px;
    color: white;
    margin-left: 2rem;
    margin-top: 2rem;
}
.text h1{
    font-weight: 500;
    margin-bottom: 1rem;
}
.text p{
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 1rem;
}
.text button{
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    color: var(--purple200);
}
button:hover{
    background-color: var(--Magenta);
    color: white;
    cursor: pointer;
}
.socialMedia {
    width: 30px;              
    height: 30px;
    border: 1px solid white;  
    border-radius: 50%;       
    display: flex;            
    align-items: center;
    justify-content: center;
    margin: 0 5px;    
    padding: 2px;       
}
.socialMedia:hover{
    border: 1px solid var(--Magenta);  
    cursor: pointer;
  
}
g:hover{
    fill: var(--Magenta);
  
}
footer{
    display: flex;
    justify-content: right;
    margin-right: 4rem;
}
